.b-hero {
	.__box {
		.btn {
			width: 234px;
			height: 43px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0;
		}
	}
	h1 p,
	h1 span{
		font-weight: 600 !important;
	}
}