.b-hero {
	.__box {
		.btn {
			width: 234px;
			height: 43px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0;
		}
	}
	h1 p,
	h1 span{
		font-weight: 600 !important;
	}
	.custom-play-btn {
    transition: .3s;
}

.play-circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: var(--color-primary); 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    box-shadow: 0 8px 24px rgba(0,0,0,.25);
}

.custom-play-btn:hover .play-circle {
    transform: scale(1.08);
}

.play-circle svg {
    margin-left: 3px; 
}
}