.b-intro {
	.__txt{
		p {
			padding-bottom: 16px;
			display: inline-block;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}
	}}

	.b-intro.section-gray {
		background: var(--color-gray);
		padding: var(--spt) 0 var(--spb)!important;
	}