.b-quote {
	.__txt {
		p {
			font-size: 18px;
			font-weight: 400 !important;

		}

		p:last-child {
			margin-left: 40px;
		}

		blockquote {
			position: relative;
			display: block;
			margin-bottom: 40px;
			font-size: 24px;
			letter-spacing: 0.18px;
			margin-left: 0 !important;

			&::before {
				content: "";
				display: block;
				float: left;
				width: 44px;
				height: 36px;
				background-image: url('@images/quote.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-left: 40px;
				margin-right: 10px;
				margin-top: -12px;

			}
		}
	}
}



/*--- BRAK PUNKTATORÓW ---*/

.b-quote.no-list {
	.__txt {
		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: disc;
			padding-left: 1.25rem;

			li {
				display: list-item;
				position: static;
				margin-bottom: 0.5em;

				&::before {
					content: none;
					display: none;
				}
			}
		}
	}
}