.portfolio-filters-slider {
	width: 100%;
	overflow: hidden;

	.swiper-wrapper {
		display: flex;
		align-items: center;
	}

	.swiper-slide {
		width: auto !important;
		flex-shrink: 0;
	}
	.btn{
		padding: 16px 24px !important;
	}
	.btn-outline-primary {
    position: relative;
    background-color: transparent;
    border: 1px solid transparent !important; 
    color: var(--color-primary);
    border-radius: 0 !important; 

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -12px; 
        right: -12px;
        border-top: 1px solid var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
        pointer-events: none;
        transition: border-color 0.2s ease-out;
    }

    &::after {
        content: "";
        position: absolute;
        top: -12px;
        bottom: -12px;
        left: -1px; 
        right: -1px;
        border-left: 1px solid var(--color-primary);
        border-right: 1px solid var(--color-primary);
        pointer-events: none;
        transition: border-color 0.2s ease-out;
    }
    &.active,
    &:hover {
        background-color: var(--color-primary);
        color: #000;

        &::before {
            border-top-color: var(--color-primary);
            border-bottom-color: var(--color-primary);
        }

        &::after {
            border-left-color: var(--color-primary);
            border-right-color: var(--color-primary);
        }
    }
}
}